<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.JiayinMineCollectMapper">
    
    <resultMap type="JiayinMineCollect" id="JiayinMineCollectResult">
        <result property="id"    column="id"    />
        <result property="farmLandId"    column="farm_land_id"    />
        <result property="userId"    column="user_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectJiayinMineCollectVo">
        select id, farm_land_id, user_id, del_flag, create_time, update_time from jiayin_mine_collect
    </sql>

    <select id="selectJiayinMineCollectList" parameterType="JiayinMineCollect" resultMap="JiayinMineCollectResult">
        <include refid="selectJiayinMineCollectVo"/>
        <where>  
            <if test="farmLandId != null  and farmLandId != ''"> and farm_land_id = #{farmLandId}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectJiayinMineCollectById" parameterType="String" resultMap="JiayinMineCollectResult">
        <include refid="selectJiayinMineCollectVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJiayinMineCollect" parameterType="JiayinMineCollect">
        insert into jiayin_mine_collect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="farmLandId != null  and farmLandId != ''">farm_land_id,</if>
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="delFlag != null ">del_flag,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="farmLandId != null  and farmLandId != ''">#{farmLandId},</if>
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="delFlag != null ">#{delFlag},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateJiayinMineCollect" parameterType="JiayinMineCollect">
        update jiayin_mine_collect
        <trim prefix="SET" suffixOverrides=",">
            <if test="farmLandId != null  and farmLandId != ''">farm_land_id = #{farmLandId},</if>
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJiayinMineCollectById" parameterType="String">
        delete from jiayin_mine_collect where id = #{id}
    </delete>

    <delete id="deleteJiayinMineCollectByIds" parameterType="String">
        delete from jiayin_mine_collect where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>